<a href="https://colab.research.google.com/github/AsifSyeed/Flood-predicttion/blob/main/flood_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
%matplotlib inline

Upload Rainfall data

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Rainfall.csv to Rainfall (4).csv

In [24]:
for fn in uploaded.keys():
  print(
      'User uploaded file "{name}" with length {length} bytes'.format (
          name = fn, length = len(uploaded[fn])
      )
      )

User uploaded file "River Level.csv" with length 2207036 bytes

In [25]:


df_rain = pd.read_csv("Rainfall.csv")

df_rain.head ()

             Date/Time  Current rainfall (mm)  Cumulative rainfall (mm)
0  2018-12-02 18:00:00                    0.0                       0.0
1  2018-12-02 17:00:00                    0.0                       0.0
2  2018-12-02 16:00:00                    0.0                       0.0
3  2018-12-02 15:00:00                    0.0                       0.0
4  2018-12-02 14:00:00                    0.0                       0.0

In [26]:
df_rain.shape

(78848, 3)

In [22]:
df_rain.describe()

       Current rainfall (mm)  Cumulative rainfall (mm)
count           78844.000000              78847.000000
mean                0.049206                  0.586580
std                 0.765296                  2.770216
min                 0.000000                  0.000000
25%                 0.000000                  0.000000
50%                 0.000000                  0.000000
75%                 0.000000                  0.000000
max               110.000000                111.400000

Uplaod water level data

In [19]:
from google.colab import files

uploaded = files.upload()

Saving River Level.csv to River Level.csv

In [28]:
for fn in uploaded.keys():
  print(
      'User uploaded file "{name}" with length {length} bytes'.format (
          name = fn, length = len(uploaded[fn])
      )
      )

User uploaded file "River Level.csv" with length 2207036 bytes

In [29]:
df_river = pd.read_csv("River Level.csv")

df_river.head ()

             Date/Time  Level (m)
0  2018-12-02 17:00:00       1.61
1  2018-12-02 16:00:00       1.61
2  2018-12-02 15:00:00       1.62
3  2018-12-02 14:00:00       1.63
4  2018-12-02 13:00:00       1.63

In [30]:
df_river.shape

(78822, 2)

In [31]:
df_river.describe()

          Level (m)
count  78822.000000
mean       1.453701
std        0.113859
min        0.000000
25%        1.400000
50%        1.450000
75%        1.500000
max        3.300000